
.form-inline {
	text-align: center;
}

h2 {
	text-align: center;
	padding-top: 1em;
}

.row {
	text-align: center;
	padding-top: 5em;
}

/*.container .row div:nth-child(4n) {
    position: static;
}
.container .row div:nth-child(4n):after {
    content: ' ';
    border-top: 1px solid black;
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 2.5%;
    left: 0;
}*/

.tag {
	display: none;
}

.row, .col-md-4 {
	padding-bottom: 2em;
}